
* {
	border: 1px solid red;
}


html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	/*width: 33.3333%;*/
    /*height: 100%;*/
    position: absolute;
    left: 50px;
    right: 160px;
    top: 80px;
    bottom: 16px;
    /*overflow: hidden;*/
}

.column {
	height: 100%;
	width: 20%;
}
#main {
	height: 100%;
}